<h1>Issues</h1>
<table class="issueTable">
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Details</th>
    <th>Assigned To</th>
    <th>Reported By</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>

  <% @issues.each do |issue| %>
    <tr>
      <td><%= issue.id %></td>
      <td><b><%= issue.title %></b></td>
      <td><%= issue.details %></td>
      <td><%= issue.assigned_to %></td>
      <td><%= issue.reported_by %></td>
      <td><%= issue.status %></td>
      <td><%= link_to "show", issue_path(issue) %>
          <%= link_to "edit", edit_issue_path(issue) %>
          <%= link_to "delete", issue_path(issue), method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>

</table>

<br/>
<%= link_to "Create Issue", new_issue_path %>
